* {
    font-family: 'Roboto', sans-serif;
}

.main {
  padding-top: 40%;
  width: 65%;
  height: 400px;
  border: 2.5px solid rgb(216, 216, 216);
  border-radius: 10px;
  padding: 50px;
  margin: 20px;
  position: relative;
  top: 100px;
  margin-left: 210px;
  
}
.logo {
    margin-top: -40px;
}
.head {
    margin-top: -30px;
    color: rgb(44, 44, 44);
}
.form-box {
    width: 250px;
    margin: 2px;

}
input[type=text] {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  top: 1px;
  
}
.ibox {
    width: 504px;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}
.gmail {
    
    padding-left : 400px;
    margin-top: -36px;
   
}
.t-line {
    font-size: 5px;
    padding-left: 2px;

}
.b-line {
    font-weight: bold;
    font-size: 5px;
    margin: 5px;
    padding-top: 3px;
    padding-bottom: 7px;
    color:rgb(51, 118, 239);
}

input[type=password] {
    width: 210px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}
input:focus {
    border: none;
  }
.logo-2 {
    padding-left : 440px;
    margin-top: -57px;


}
.m-line {
    padding-top: 5px;
    font-size: 5px;
}
.sign-in {
    padding-top: 40px;
    color: rgb(51, 118, 239);
    font-weight: bold;
    font-size: 5px;

}
.btn {
    color: white;
    background-color: rgb(51, 118, 239);
    border: none;
    margin-left: 280px;
    margin-top: -40px;
    width: 120px;
    height: 33px;
    border-radius: 3px;
}
.big-logo {
    float : right;
    position: relative;
    top: -370px; 
}
.account {
    padding-left: 50px;
    z-index: 1;
    position: relative;
    top: -25px;
}
.bottom-btn {
    border: none;
    margin-left: 0px;
   z-index: 1;
   position: relative;
   top: 55px;
   margin-left: -40px;
}
.last-1 {
    border: none;
    margin-left: 720px;
   z-index: 1;
   position: relative;
   top: -320px;
   font-size: 5px;
}
.last-2 {
    border: none;
    margin-left: 790px;
    z-index: 1;
    position: relative;
    top: -342px;
    font-size: 5px;
}
.last-3 {
    border: none;
    margin-left: 870px;
    z-index: 1;
    position: relative;
    top: -367px;
    font-size: 5px;  
}